- @posts.each_slice(2) do |posts|
  .row
  - posts.each do |post|
    .col-md-6.col-sm-6{id: "#{post.id}"}
      - if post.thumb.present?
        .thumbnail
          = image_tag post.thumb.th.url,  'data-toggle': 'modal', 'data-target': "#modal_#{post.id}"
          .modal.fade.bs-example-modal-lg{"aria-labelledby" => "myLargeModalLabel", role: "dialog", tabindex:  "-1", id: "modal_#{post.id}"}
            .modal-dialog.modal-lg{role: "document"}
              .modal-content
                = image_tag post.thumb.resize.url, class: 'modal-image'
      .caption
        %h3= link_to post.title, post_path(post.id)
        %p= post.text
        - if can? :edit, post
          %a.btn.btn-primary{href: edit_post_path(post.id)} Edit
        = link_to 'Delete', post_path(post.id), method: :delete, class: 'btn btn-danger delete-post', remote: true, id: 'post_delete' if can? :destroy, post
        %hr
