%h1.text-center= @post.title
%hr
- if @post.thumb.present?
  .text-center= link_to (image_tag @post.thumb.resize.url), @post.thumb.url
%p.lead.text-center= @post.text
%p.text-center= "Tags: #{@post.all_tags}" if @post.tags.present?
